n8n/onboarding-ab-test.json
{
  "name": "CalorAI Telegram A/B Onboarding",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{$json[\"message\"][\"text\"]}}", "operation": "equal", "value2": "/start" }
          ]
        }
      },
      "name": "Is /start",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_URL}}/api/users",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"telegramId\": \"{{$json['message']['from']['id']}}\", \"username\": \"{{$json['message']['from']['username']}}\", \"firstName\": \"{{$json['message']['from']['first_name']}}\" }"
      },
      "name": "Upsert User (Backend → Statsig)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 240]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{$json[\"group\"]}}", "operation": "equal", "value2": "control" }
          ]
        }
      },
      "name": "Group?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "chatId": "={{$node['Telegram Trigger'].json['message']['chat']['id']}}",
        "text": "Hi! Welcome to CalorAI. Use /log <meal> to log a meal."
      },
      "name": "Send Control Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1140, 160],
      "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "chatId": "={{$node['Telegram Trigger'].json['message']['chat']['id']}}",
        "text": "👋 Welcome to CalorAI! Step 1/3: Log meals consistently for best results."
      },
      "name": "Onboarding Step 1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1140, 300],
      "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram account" } }
    },
    {
      "parameters": { "amount": 2, "unit": "seconds" },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{$node['Telegram Trigger'].json['message']['chat']['id']}}",
        "text": "Step 2/3: Use /log <meal> [calories] to record meals quickly."
      },
      "name": "Onboarding Step 2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1540, 300],
      "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram account" } }
    },
    {
      "parameters": { "amount": 2, "unit": "seconds" },
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1740, 300]
    },
    {
      "parameters": {
        "chatId": "={{$node['Telegram Trigger'].json['message']['chat']['id']}}",
        "text": "Step 3/3: View with /meals, edit with /edit, delete with /delete. You're set! 🥗"
      },
      "name": "Onboarding Step 3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1940, 300],
      "credentials": { "telegramApi": { "id": "telegram", "name": "Telegram account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.BACKEND_URL}}/api/events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"userId\": \"{{$node['Upsert User (Backend → Statsig)'].json['user']['_id']}}\", \"eventName\": \"onboarding_completed\", \"properties\": {} }"
      },
      "name": "Log onboarding_completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2160, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Is /start", "type": "main", "index": 0 }]] },
    "Is /start": { "main": [[{ "node": "Upsert User (Backend → Statsig)", "type": "main", "index": 0 }], []] },
    "Upsert User (Backend → Statsig)": { "main": [[{ "node": "Group?", "type": "main", "index": 0 }]] },
    "Group?": {
      "main": [
        [{ "node": "Send Control Message", "type": "main", "index": 0 }],
        [{ "node": "Onboarding Step 1", "type": "main", "index": 0 }]
      ]
    },
    "Onboarding Step 1": { "main": [[{ "node": "Wait", "type": "main", "index": 0 }]] },
    "Wait": { "main": [[{ "node": "Onboarding Step 2", "type": "main", "index": 0 }]] },
    "Onboarding Step 2": { "main": [[{ "node": "Wait2", "type": "main", "index": 0 }]] },
    "Wait2": { "main": [[{ "node": "Onboarding Step 3", "type": "main", "index": 0 }]] },
    "Onboarding Step 3": { "main": [[{ "node": "Log onboarding_completed", "type": "main", "index": 0 }]] }
  }
}
